html {
  scroll-behavior: smooth;
}

body {
  /* font-family: Helvetica, Arial, sans-serif; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(200, 188, 188);
}

.main-bg {
  padding: 25px;
  position: absolute;
  width: calc(100vw - 50px);
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.container {
  position: absolute;
  z-index: 5;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ig-link {
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  /* width: 200px;
  height: 10px; */
  color: blue;
  /* padding: 10px; */
  /* border: 1px solid #999; */
  /* border-radius: 10px; */
  /* transform:rotate(10deg) skewX(25deg); */
  
}

.ig-link:hover {
  transform: translateY(5px);
  /* opacity: 0.5; */
  /* border: 1px solid blue; */
}

.blythe-logo {
  font-family: Helvetica, Arial, sans-serif;
  margin: 10px;
  background-color: white;
  color: blue
  /* padding: 5px; */
}

.letter-box {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 1px solid #999; */
  border-radius: 10px;
  margin: 0;
}

.letter {
  font-size: 40px;
  color: blue;
}